.nav {
  width: 280px;
  position: fixed;
  left: 0;
  height: 100vh;
  top: 0;
  border-right: 1px solid;
  @apply bg-black border-r-border-primary;
  ul {
    padding: 10px;
    li {
      position: relative;
      & > div {
        a {
          padding: 10px 20px;
          display: block;
          @apply rounded-md min-h-[44px];
      
        }
      }
    }
  }
}
.underline {
  @apply rounded-md bg-gray-900 contrast-[94%] h-[44px] absolute left-0 right-0 top-0;
  z-index: -1;
}