.button {
  border-radius: 48px;
  position: relative;
  background: radial-gradient(52.06% 114.58% at 49.71% 9.37%, #1F1F1F 0%, #000000 100%),
  radial-gradient(139.58% 178.13% at 63.74% -62.5%, #525151 0%, #1E1D1D 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  &:before {
    position: absolute;
    border-radius: 48px;
    content: "";
    inset: 0;
    opacity: 0;
    z-index: -1;
    background: radial-gradient(52.06% 254.58% at 49.71% 9.37%, #1F1F1F 0%, #000000 100%),
    radial-gradient(139.58% 178.13% at 63.74% -62.5%, #525151 0%, #1E1D1D 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    transition: all 1s ease;
  }
  z-index: 1;
  border-top: 1px solid #252525;
  border-bottom: 1px solid #080808;
  &:hover {
    &:before {
      opacity: 1;
    }
  }
  @apply font-medium;
}

.small {
  @apply text-sm;
}

.medium {
  @apply px-8 py-2 text-sm;
}