.navigation {
  a, button {
    @apply text-gray-400;
    &:hover {
      color: white !important;
    }
    transition: all .8s ease;
  }
  &:global(.isHovered) {
    a, button {
      @apply text-gray-700;
    }
  }
  
  .menus {
    & > div {
      &:not(:last-of-type) {
        margin-right: 24px;
      }
    }
  }
  .underline {
    &:after {
      content: " ";
      width: 30px;
      background-color: #4338ca;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      height: 4px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
}