.navigation {
  a, button {
    transition: all .8s ease;
  }
  .menus {
    @apply hidden sm:flex;
    & > div {
      &:not(:last-of-type) {
        margin-right: 20px;
      }
    }
  }
  .underline {
    @apply h-full;
    z-index: -1;
    &:after {
      content: " ";
      @apply backdrop-blur bg-gray-600/40 border border-gray-700/30;
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      border-radius: 6px;
    }
  }
}