.bg {
  background: url('../assets/images/bg-pattern.png') no-repeat;
  background-size: contain;
  background-position: top center;
  max-height: 130vh;
}

.gradient-nav {
  // background: rgb(159,98,20);
  // background: linear-gradient(52deg, rgb(146 166 0 / 19%) -20%, rgb(128 0 101 / 15%) 53%, rgb(11 0 132 / 33%) 100%);
}